<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/carousel.css">
</head>



<body class="bg-gradient-to-r from-green-400 to-blue-500">
    <%- include('../partials/navbar'); %>

    <div>
    	<div class="border-4 bg-gradient-to-r from-pink-300 to-purple-600 m-4 p-4" id="connexionForm">
    		<form>
    			<label for="pseudo">Pseudo : </label><br>
  				<input type="text" id="pseudo" name="pseudo"><br>

  				<label for="password">Password : </label><br>
  				<input type="text" id="password" name="password"><br>

  				<label for="submit">Submit : </label><br>
  				<input type="submit" id="submit" name="submit">
    		</form>
    	
    	</div>
    </div>
    <div id="connexionForm">
    	
    </div>

    <script src="/static/js/connexion.js"></script>
</body>
