<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/carousel.css">
</head>

<body class="bg-gray-50">
    <%- include('../partials/navbar'); %>
    <h1 class="flex items-center">Test2</h1>
    <div class="carousel relative rounded relative overflow-hidden shadow-xl">
        <div class="carousel-inner relative overflow-hidden w-full">
            <!--Slide 1-->
            <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked" />
           	

            <div class="carousel-item absolute opacity-0 bg-center img-responsive divCliquable" id="div1" style="height: 500px;
       		background-image: url('/static/img/gradient1.jpeg');">
            <h1 id="textBox">QUIZZ</h1>
            </div>
            
            

            <label for="carousel-3" class="control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto flex justify-center content-center">
      			<i class="fas fa-angle-left mt-3"></i>
      		</label>

            <label for="carousel-2" class=" next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
            	<i class="fas fa-angle-right mt-3"></i>
            </label>


            <!--Slide 2-->
            <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="" />
            <div class="carousel-item absolute opacity-0 bg-center divCliquable" id="div2" style="height: 500px; background-image: url('/static/img/gradient2.jpeg');">
            </div>

            <label for="carousel-1" class=" control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">
            	<i class="fas fa-angle-left mt-3"></i>
            </label>

            <label for="carousel-3" class=" next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
            	<i class="fas fa-angle-right mt-3"></i>
            </label>


            <!--Slide 3-->
            <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="" />
            <div class="carousel-item absolute opacity-0 divCliquable" id="div3" style="height: 500px; background-image: url('/static/img/gradient3.jpeg');"></div>
            <label for="carousel-2" class=" control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">
            	<i class="fas fa-angle-left mt-3"></i>
            </label>
            <label for="carousel-1" class=" next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">
            	<i class="fas fa-angle-right mt-3"></i>
            </label>


            <!-- Add additional indicators for each slide-->
            <ol class="carousel-indicators">
                <li class="inline-block mr-3">
                    <label for="carousel-1" class=" carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
                </li>
                <li class="inline-block mr-3">
                    <label for="carousel-2" class=" carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
                </li>
                <li class="inline-block mr-3">
                    <label for="carousel-3" class=" carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
                </li>
            </ol>
        </div>
    </div>


    <script src="/static/js/home.js"></script>
</body>