<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/carousel.css">
</head>

<body class="bg-gray-50">
    <%- include('../partials/navbar'); %>



    <div id=serversDiv>
    	<table>
    		<tr id="lignTitleTable">
    			<td>Serveurs Liste</td>
    		</tr>
    	</table>
    </div>


    <div>
    	<button class="" type="button" id="buttonCreateServer">
        	Create Servers
		</button>
    </div>

	<script src="/static/js/quizzMainPage.js"></script>
</body>
